body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #e2e2e2;
}
.hidden {display: none;}

#setup-screen, #game-screen {
  margin: 20px auto;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
#setup-screen h1{
    font-size: 2.5em;
    text-align: center;
}
#player-config {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 100px;
}
.player-input {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.player-input label{text-align: center; color: rgba(0, 0, 0, 0.699);}
#setup-buttons {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#setup-buttons button{
    margin-top: 40px;
    padding: 20px;
    font-size: 1em;
    background-color: #979b97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#setup-buttons button:hover{background-color: #679967;}
#setup-buttons button:nth-last-child(1){background-color: #4CAF50;}
#setup-buttons button:nth-last-child(1):hover{background-color: #357a38;}
#record-display {
  background-color: #87dbada4;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
  border-left: 5px solid #00cc77;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}


#turn-info, #round-info {
  margin-bottom: 10px;
  padding: 10px;
  background: #90ceb47a;
  border-radius: 8px;
  text-align: center;
}
#round-info button{
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #12acf3;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#round-info button:hover{background-color: #0a7bb0;}

#dice-area{
    text-align: center;
    margin-bottom: 10px;
    background-color: green;
    padding: 15px;
    border-radius: 8px;
}
#dice-area h2{
    color: white;
    font-size: 1em;
}
#dice-container {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    background-color: white;
    width: 80%;
    height: 100px;
    justify-self: center;
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#dice-area button{
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5a945a;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#dice-area button:hover{background-color: #0add0a;}

.dice {
  width: 2.5em;
  height: 2.5em;
  font-size: 24px;
  text-align: center;
  align-content: center;
  line-height: 50px;
  border: 2px solid #333;
  border-radius: 8px;
}
.dice.highlighted {
  border: 3px solid gold;
  box-shadow: 0 0 10px gold;
  transform: scale(1.05);
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


#scoreboard{
    background-color: #90ceb47a;
    border-radius: 8px;
    padding: 15px;
}
#scoreboard-header {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
}
#round-counter {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #4ceeaa;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid black;
  margin-top: 10px;
  display: inline-block;
}
#score-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


#sudden-death-banner {
  background-color: #ffdddd;
  border: 2px solid red;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  color: darkred;
}
#sudden-death-banner button{
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #f3b712;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.eliminated {
  background-color: #ffe5e5;
  color: red;
  font-weight: bold;
}
.eliminated-row {
  background-color: #ffe5e5;
  text-decoration: line-through;
  opacity: 0.6;
}
